<!DOCTYPE html>
<html>
<head>
  <title>Amazon Registration</title>
  <link rel="stylesheet" type="text/css" href="index1.css">
  <script src="index2.js"></script>
</head>
<body>
  <div class="container">
    <h2>Create Account</h2>
    <form id="registration-form" action="#">
      <input type="text" id="name" placeholder="Your Name" required>
      <input type="email" id="email" placeholder="Email" required>
      <input type="password" id="password" placeholder="Password" required>
      <input type="password" id="confirm-password" placeholder="Confirm Password" required>
      <button type="submit">Create Your Amazon Account</button>
      <h5>By creating an account or logging in, you agree to Amazon’s<a href="/gp/help/customer/display.html/ref=ap_register_notification_condition_of_use?ie=UTF8&amp;nodeId=200545940">
        Conditions of Use</a> and <a href="/gp/help/customer/display.html/ref=ap_register_notification_privacy_notice?ie=UTF8&amp;nodeId=200534380">Privacy Policy</a>.</h5>
        <div class="a-row">
        Already have an account?
            <a class="a-link-emphasis" href="/ap/signin?showRmrMe=1&amp;openid.pape.max_auth_age=0&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;accountStatusPolicy=P1&amp;pageId=webcs-yourorder&amp;openid.return_to=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Forder-history%3Fie%3DUTF8%26ref_%3Dhp_ss_qs_v3_rt_yo&amp;prevRID=YFXCHZCDRVW9DV2DS5X2&amp;openid.assoc_handle=inamazon&amp;openid.mode=checkid_setup&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;failedSignInCount=0&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0">
              Sign in
            </a>
          </div>
          <div id="ab-reg-link-section" class="a-section">
            <div class="a-row">
             <h5> Buying for work?
              <a id="ab-registration-link" class="a-link-emphasis" href="https://www.amazon.in/business/register/org/landing?ref_=ap_altreg_ab">
                Create a free business account
              </a></h5>
            </div></div>
          </div>
    </form>
    <p id="message"></p>
  </div>

  <script src="script.js"></script>
</body>
</html>
